
@{
    ViewBag.Title = "Timeline";
}

<h2 id="Page_Title_Timeline">Timeline of progress made</h2>
<h6 id="Page_Subtitle_Timeline">All the progress that zagreus420 has made</h6>

<div>
    <hr id="Section_Divider">

    <h4 id="Section_Header_29May2018"> 29 May, 2018</h4>
    <p>
        The old man in the black hoodie randomly appeared for me and wanted me
        to complete a maze. I for some reason did exactly that and as a reward
        I got an extra 966 feathers. So now I get to fish 966 more fish. Not
        really, I'm still stopping at the exact momemt I get 99
        @Html.ActionLink("Cooking", "Cooking", "Skills", routeValues: null, htmlAttributes: new { id = "CookingLinkTimelineIndex29May2018_1" })
        and 96 @Html.ActionLink("Fishing", "Cooking", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkTimelineIndex29May2018_1" }).
        Srsly tho, nothing interesting has happened yet.
    </p>

    <hr id="Section_Divider">

    <h4 id="Section_Header_21May2018">21 May, 2018</h4>
    <p>
        Leveled up @Html.ActionLink("Cooking", "Cooking", "Skills", routeValues: null, htmlAttributes: new { id = "CookingLinkTimelineIndex21May2018_1" }) to level 95.
    </p>
    <img src="~/StillCaptures/skills_21May2018.jpg" alt="Stats" id="Stats_Image21May2018" usemap="#SkillsMap">

    <hr id="Section_Divider">

    <h4 id="Section_Header_20May2018">20 May, 2018</h4>
    <p>
        Leveled up @Html.ActionLink("Fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkTimelineIndex20May2018_1" }) to level 92. Halfway to 99, but thankfully I'm only aiming for 96.
        So more than halfway!
    </p>
    <img src="~/StillCaptures/skills_20May2018.jpg" alt="Stats" id="Stats_Image20May2018" usemap="#SkillsMap">

    <hr id="Section_Divider">

    <h4 id="Section_Header_19May2018">19 May, 2018</h4>
    <p>Leveled up @Html.ActionLink("Crafting", "Crafting", "Skills", routeValues: null, htmlAttributes: new { id = "CraftingLinkTimelineIndex19May2018_1" }) to level 53 by cutting a gem obtained from a random event.</p>
    <img src="~/StillCaptures/skills_19May2018.jpg" alt="Stats" id="Stats_Image19May2018" usemap="#SkillsMap">

    <hr id="Section_Divider">

    <h4 id="Section_Header_14May2018">14 May, 2018</h4>
    <p>Leveled up @Html.ActionLink("Runecrafting", "Runecrafting", "Skills", routeValues: null, htmlAttributes: new { id = "RunecraftingLinkTimelineIndex14May2018_1" }) to level 29 by using an xp tome I got from a random event.</p>
    <img src="~/StillCaptures/skills_14May2018.jpg" alt="Stats" id="Stats_Image14May2018" usemap="#SkillsMap">

    <hr id="Section_Divider">

    <h4 id="Section_Header_11May18">11 May, 2018</h4>
    <p>Leveled up @Html.ActionLink("Cooking", "Cooking", "Skills", routeValues: null, htmlAttributes: new { id = "CookingLinkTimelineIndex11May2018_1" }) to 94</p>
    <img src="~/StillCaptures/skills_11May2018.jpg" alt="Stats" id="Stats_Image11May2018" usemap="#SkillsMap">

    <hr id="Section_Divider">

    <h4 id="Section_Header_10May18">10 May, 2018</h4>
    <p>Leveled up @Html.ActionLink("Fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkTimelineIndex10May2018_1" }) to 91</p>
    <img src="~/StillCaptures/skills_10May2018.jpg" alt="Stats" id="Stats_Image10May2018" usemap="#SkillsMap">

    <hr id="Section_Divider">

    <h4 id="Section_Header_April18">April, 2018</h4>
    <p>
        Leveled up @Html.ActionLink("Fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkTimelineIndexApril2018_1" }) to 90 and
        @Html.ActionLink("Cooking", "Cooking", "Skills", routeValues: null, htmlAttributes: new { id = "CookingLinkTimelineIndexApril2018_1" }) to 93. Over halfway done!
    </p>
    <img src="~/StillCaptures/skills_April2018.jpg" alt="Stats" id="Stats_ImageApril2018" usemap="#SkillsMap">

    <hr id="Section_Divider">

    <h4 id="Section_Header_Dec17">December, 2017</h4>
    <p>Corsair Cove is released which means I have to do another f2p quest. Blast. I'll do it eventually I guess.</p>

    <hr id="Section_Divider">

    <h4 id="Section_Header_Sept17">September, 2017</h4>
    <p>
        I decided to spend some of my money on enough feathers to obtain 96
        @Html.ActionLink("Fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkTimelineIndexSept2017_1" }) and 99
        @Html.ActionLink("Cooking", "Cooking", "Skills", routeValues: null, htmlAttributes: new { id = "CookingLinkTimelineIndexSept2017_1" }). This way I have a 99 and I have the
        @Html.ActionLink("Fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkTimelineIndexSept2017_2" }) level to complete all achievment diary tasks.
        Also, being able to catch and never burn some high healing food when I do become a member would be useful. The total number of feathers I started with is 169,958. If you want more
        info, see the
        <a href="https://docs.google.com/spreadsheets/d/1-lIrV1WU4C2QaVkVDSQ9AEZCl2nbwjhn4sTEZ5I-0_A/edit?usp=sharing" target="_blank" id="GoogleSheetsosrsSheetLink_1">google sheet about my data</a>,
        it is in the sheet called
        <a href="https://docs.google.com/spreadsheets/d/1-lIrV1WU4C2QaVkVDSQ9AEZCl2nbwjhn4sTEZ5I-0_A/edit#gid=0" target="_blank" id="GoogleSheetsosrsSheetLink_2">Fly Fishing</a>. To break the
        monotony of @Html.ActionLink("Fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkTimelineIndexSept2017_3" }), every 30 minutes I use the home
        teleport spell to go to Lumbridge, grab 30 mind and air runes from the Magic Tutor, sell an inventory of fish, and then take the canoe back to Barbarian Village. If I get any gems
        from random events, I also take the time I'm at Lumbridge to go
        @Html.ActionLink("mine", "Mining", "Skills", routeValues: null, htmlAttributes: new { id = "MiningLinkTimelineIndexSept2017_1" }) a few gold rocks in the Al Kharid Mine, buy the
        necklace mould at the @Html.ActionLink("Crafting", "Crafting", "Skills", routeValues: null, htmlAttributes: new { id = "CraftingLinkTimelineIndexSept2017_1" }) shop in Al Kharid,
        make some the highest level jewelry I can, and then sell the jewelry. Xp lamps I get from randoms I use for
        @Html.ActionLink("Runecrafting", "Runecrafting", "Skills", routeValues: null, htmlAttributes: new { id = "RunecraftingLinkTimelineIndexSept2017_1" }) xp because
        @Html.ActionLink("Runecrafting", "Runecrafting", "Skills", routeValues: null, htmlAttributes: new { id = "RunecraftingLinkTimelineIndexSept2017_2" }) is a bitch. All other random
        event items I sell or drop.
    </p>

    <hr id="Section_Divider">

    <h4 id="Section_Header_Aug17">August, 2017</h4>
    <p>
        So ultimate ironman is as annoying as a screaming baby but I love the baby because it is my kid, what am I going to throw the baby away? Maybe, but only if no one looks. But
        getting used to this whole no bank thing is weird man, I secretly kinda like the pain of no bank, but I feel like a little queer boy for saying that. I think coins are going to be mainly used for
        @Html.ActionLink("Construction", "Construction", "Skills", routeValues: null, htmlAttributes: new { id = "ConstructionLinkTimelineIndexAug2017_1" }). The Player Owned House is going
        to be the closest thing I can ever get to a bank. At this point I have completed all f2p quests, except Dragon Slayer. I've trained up a good amount of
        @Html.ActionLink("skills", "Index", "Skills", routeValues: null, htmlAttributes: new { id = "SkillsLinkTimelineIndexAug2017_1" }), some
        @Html.ActionLink("combat", "Combat", "Skills", routeValues: null, htmlAttributes: new { id = "CombatLinkTimelineIndexAug2017_1" }) here and there. I have mostly focused on training
        @Html.ActionLink("Smithing", "Smithing", "Skills", routeValues: null, htmlAttributes: new { id = "SmithingLinkTimelineIndexAug2017_1" }). Thank god for The Knight's Sword quest and
        all that lovely @Html.ActionLink("Smithing", "Smithing", "Skills", routeValues: null, htmlAttributes: new { id = "SmithingLinkTimelineIndexAug2017_2" }) xp. I found that the edgeville
        dungeon is kinda my best friend. I mine whatever ores I need there. I take the canoe at Barbarian Village to Lumbridge where I use the furnace. Take the canoe to the Champions Guild,
        then head to Varrock to @Html.ActionLink("smith", "Smithing", "Skills", routeValues: null, htmlAttributes: new { id = "SmithingLinkTimelineIndexAug2017_3" }) and sell my items. This
        method is only useful if you want money.
    </p>

    <hr id="Section_Divider">

    <h4 id="Section_Header_July17">July, 2017</h4>
    <p>
        Sometime in July 2017, I realize I should play Runescape again, OH WAIT. Runescape is not really a fun game and is great for people who like microtransactions. I used to play
        that game a ton when it was not the storm of loyalty coins or whatever the fuck they're trying to sell you. BUT BUT BUT BUT Old School Runescape is vpoo as shit so I start to play
        that. I had to start over on my original account: <br>zagreus2<br> I decided to make a second account as well: <br>zagreus420<br> zagreus420 is an ultimate ironman because I had no
        idea that was a thing. I went through tutorial island like every starting newb but I had never before seen the npcs that tell you about ironmen before. So I made a new account (the
        zagreus420 one) and made that guy an ultimate ironman before leaving turotial island. At this point, I'm not sure of the exact direction I want to take zagreus420. I do know that I
        should try to complete all the f2p quests though. Those are easy and most only require a few items. And the quest xp rewards are nice too. The quest Dragon Slayer might have to wait a
        bit though... I know I don't want to be a member just yet. There's only 8 member
        @Html.ActionLink("skills", "Index", "Skills", routeValues: null, htmlAttributes: new { id = "SkillsLinkTimelineIndexJuly2017_1" }), I might as well train a few of the free ones.
    </p>
</div>

<hr id="Section_Divider">

<h4 id="Section_Header_SideNote">A Little Side Note...</h4>
<p>
    Okay the beginning might be inaccurate
    <br>
    Mostly because I didn't really start doing this website jazz until the 6th of May, 2018 the year of who gives a shit mushroom
    <br>
    Any date after that is accurate however, the dates would be the same day (US East Coast time) as when the event happened
    <br>
    okay shit posting time
</p>