
@{
    ViewBag.Title = "Combat";
    Layout = "~/Views/Skills/_SkillsLayout.cshtml";
}

<h2 id="Page_Title_Combat">Combat Training</h2>
<h6 id="Page_Subtitle_Combat">How I trained my skills to murder innocents accross Gielinor</h6>

<p>The levels on this page are referring to my Combat Level, not any specific skill.</p>

<hr id="Section_Divider">

<h4 id="Section_Header_GeneralTraining">General Combat Training</h4>

<h4 id="Section_Subheader_Lvl1-20">Levels 3 - 20</h4>
<ul>
    <li>
        <p>Chickens (for fly 
        @Html.ActionLink("fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkSkillsCombat_1" }) 
        feathers)</p>
    </li>
    <li>
        <p>Cows (for 
        @Html.ActionLink("Crafting", "Crafting", "Skills", routeValues: null, htmlAttributes: new { id = "CraftingLinkSkillsCombat_1" }))
        </p>
    </li>
</ul>

<h4 id="Section_Subheader_Lvl20-53">Levels 20 - 53</h4>
<ul>
    <li>
        <p>Chickens</p>
    </li>
    <li>
        <p>Cows</p>
    </li>
    <li>
        <p>Minotaurs (for iron arrows)</p>
    </li>
</ul>

<hr id="Section_Divider">

<h4 id="Section_Header_MeleeTraining">Melee Training</h4>
<p>
    I always bought and used the best equipment I can 
    @Html.ActionLink("smith", "Smithing", "Skills", routeValues: null, htmlAttributes: new { id = "SmithingLinkSkillsCombat_1" }) 
    / buy. The Champion's
    Guild sells adamant platebodies and rune platelegs. I'll be using that kind
    of equipment mostly until Dragon Slayer is completed.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_RangeTraining">Range Training</h4>
<p>
    The arrows from minotaurs will be enough to train Range. If you train your
    @Html.ActionLink("Crafting", "Crafting", "Skills", routeValues: null, htmlAttributes: new { id = "CraftingLinkSkillsCombat_2" }), 
    you can make most of you own armor early on until 40 when you can
    buy green dragonhide. Green d'hide chaps and vambraces can be bought from
    the Champions Guild, while the body requires Dragon Slayer to be completed
    and can be bought from Oziach.
    The Rimington archery shop is usually unoccupied, so the shop will be fully
    stocked.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_MagicTraining">Magic Training</h4>
<p>
    Every 30 minutes the Magic Tutor gives 30 air runes and mind runes for
    free. The air runes obtained from early levels of 
    @Html.ActionLink("Runecrafting", "Runecrafting", "Skills", routeValues: null, htmlAttributes: new { id = "RunecraftingLinkSkillsCombat_1" }) 
    are useful
    too. I find that using these runes to cast spells for damage rather than
    splashing is better, especially because the f2p creatures killed at these
    early levels are not very threatening.
</p>

<hr id="Section_Divider">

<h4 id="Section_Header_MonstersIKill">Monsters I Kill</h4>
<p>Below are the monster I usually kill and why I choose them over others.</p>
<ul>
    <li>
        <p>Pirates because of their nature rune drops.</p>
    </li>
    <li>
        <p>Catablepons because of the noted coal and law rune drops.</p>
    </li>
    <li>
        <p>Ankou because of the death rune, law rune, noted rune essence, and 
        adamant arrow drops.</p>
    </li>
    <li>
        <p>Dark wizards because of the nature rune, law rune, and cosmic rune 
        drops.</p>
    </li>
    <li>
        <p>Wizards becaus of the law rune and nature rune drops.</p>
    </li>
    <li>
        <p>Minotaurs because of the iron arrows and noted rune essence drops.</p>
    </li>
    <li>
        <p>
            Al-Kharid Warriors because of the earth talisman drops. I usually
            only kills these guys right before I start  
            @Html.ActionLink("Runecrafting", "Runecrafting", "Skills", routeValues: null, htmlAttributes: new { id = "RunecraftingLinkSkillsCombat_2" }) 
            training.
        </p>
    </li>
</ul>


