
@{
    ViewBag.Title = "Cooking";
    Layout = "~/Views/Skills/_SkillsLayout.cshtml";
}

<h2 id="Page_Title_Cooking">Cooking</h2>
<h6 id="Page_Subtitle_Cooking">My journey to be like Gordon Ramsey you fucking wanker</h6>

<p>I trained cooking indirectly by training @Html.ActionLink("Fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id="FishingLinkSkillsCooking_1"}).</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl1-15">Levels 1 - 15</h4>
<p>I @Html.ActionLink("fished", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkSkillsCooking_2" }) and cooked shrimp and anchovies. South of the Lumbridge 
    graveyard, there is a net/bait @Html.ActionLink("fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkSkillsCooking_3" }) spot. The Fishing Tutor 
    is there for advice and two small net spawns are there for supplies. If you walk west into the swamps, you can find a few dead trees to cut down and make a fire for cooking. I stayed 
    here until I had 20 @Html.ActionLink("Fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkSkillsCooking_4" }), so I could catch trout.</p>

<hr id="Section_Divider">

<h4 id="Section_Header_Lvl15-99">Levels 15 - 99</h4>
<p>
    I @Html.ActionLink("fished", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkSkillsCooking_5" }) and cooked trout, which need level 20 
    @Html.ActionLink("fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkSkillsCooking_6" }) to catch. At level 25, you can cook salmon as
    well. Salmon need level 30 @Html.ActionLink("Fishing", "Fishing", "Skills", routeValues: null, htmlAttributes: new { id = "FishingLinkSkillsCooking_7" }) to be caught. I caught these 
    at Barbarian Village. There is a fire that never goes out mere steps from the fishing spots. When cooked on a fire, trout will stop burning at level 50 and salmon will stop burning at
    level 58.
</p>
